<body>
  <div style="width:300px; margin:0 auto;">
    <form action="/coach/">
      <input type="text" name="Ask me anything">
      <input type="submit" value="Ask!">
    </form>
  </div>
  <div style ="width:300px; margin:0 auto;">
    <%= link_to "Reload the page", 'ask' %><br>
    <%= link_to "Or go back to the main page", '/' %>
  </div>
</body>
